<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ifms.adm.bbs.qna.mapper.AdmQnaMapper">

	<!-- Qna 목록 조회 -->
	<select id="selectAdmQnaList" parameterType="map" resultType="egovMap">
		SELECT ROW_NUMBER() OVER (ORDER BY QNA_PRGRS_STTS_CD, QNA_SN DESC) AS ROW_NUM
			, QNA_SN 
			, CASE WHEN QNA_PRGRS_STTS_CD = 'ANS_CMPLT' THEN '답변완료'
				ELSE '미처리'
				END AS QNA_PRGRS_STTS_NM
			, QNA_PRGRS_STTS_CD
			, QNA_TTL 
			, QSTN_CN
			, QSTN_FILE_GROUP_SN 
			, CASE WHEN INQ_CNT IS NULL THEN 0
				ELSE INQ_CNT	
				END AS INQ_CNT 
			, CASE WHEN ANS_CN IS NULL THEN 'N'
				ELSE 'Y'
				END AS ANS_CN_YN 
			, ANS_CN 
			, ANS_FILE_GROUP_SN 
			, TO_CHAR(FRST_REG_DT, 'YYYY-MM-DD') AS FRST_REG_DT
			, TO_CHAR(LAST_MDFCN_DT, 'YYYY-MM-DD') AS LAST_MDFCN_DT
			, FRST_RGTR_ID
			, LAST_MDFR_ID
		FROM SZMS.PT_QNA_M
		WHERE 1 = 1
			and del_yn = 'N'
			<if test="searchCondition == 'TTL'">  
  		  		AND QNA_TTL LIKE '%' || #{searchKeyword} || '%' 
  		  	</if>
  		  	<if test="searchCondition == 'CN'">  
  		  		AND QSTN_CN LIKE '%' || #{searchKeyword} || '%' 
  		  	</if>
  		  	<if test="searchCondition == ''">  
  		  		AND ((QNA_TTL LIKE '%' || #{searchKeyword} || '%')
  		  			OR 
  		  			(QSTN_CN LIKE '%' || #{searchKeyword} || '%'))
  		  	</if>
  		ORDER BY ROW_NUM DESC
  		OFFSET #{startNo} ROWS FETCH NEXT #{listCount} ROWS ONLY
	</select>
	
	<!-- Qna 목록 총건수 조회 -->
	<select id="selectQnaListTotalCount" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM SZMS.PT_QNA_M
		WHERE 1 = 1
			and del_yn = 'N'
			<if test="searchCondition == 'TTL'">  
  		  		AND QNA_TTL LIKE '%' || #{searchKeyword} || '%' 
  		  	</if>
  		  	<if test="searchCondition == 'CN'">  
  		  		AND QSTN_CN LIKE '%' || #{searchKeyword} || '%' 
  		  	</if>
  		  	<if test="searchCondition == ''">  
  		  		AND ((QNA_TTL LIKE '%' || #{searchKeyword} || '%')
  		  			OR 
  		  			(QSTN_CN LIKE '%' || #{searchKeyword} || '%'))
  		  	</if>
	</select>
	
	
	<!-- Qna 상세 조회 -->
	<select id="selectQnaDetail" resultType="egovMap" parameterType="map">
		SELECT QNA_SN 
			, CASE WHEN QNA_PRGRS_STTS_CD = 'ANS_CMPLT' THEN '답변완료'
				ELSE '등록완료'
				END AS QNA_PRGRS_STTS_CD
			, QNA_TTL 
			, QSTN_CN
			, CASE WHEN QSTN_FILE_GROUP_SN IS NOT NULL THEN QSTN_FILE_GROUP_SN
				ELSE 0
				END AS QSTN_FILE_GROUP_SN
			, CASE WHEN ANS_FILE_GROUP_SN IS NOT NULL THEN ANS_FILE_GROUP_SN
				ELSE 0
				END AS ANS_FILE_GROUP_SN
			, ANS_CN
			, CASE WHEN (ANS_CN IS NULL AND ANS_FILE_GROUP_SN IS NULL) THEN 'N'
				ELSE 'Y'
				END AS ANS_CN_YN 
			, CASE WHEN INQ_CNT IS NULL THEN 0
				ELSE INQ_CNT	
				END AS INQ_CNT 
			, TO_CHAR(FRST_REG_DT, 'YYYY-MM-DD') AS FRST_REG_DT
			, TO_CHAR(LAST_MDFCN_DT, 'YYYY-MM-DD') AS LAST_MDFCN_DT
			, FRST_RGTR_ID
			, LAST_MDFR_ID
		FROM SZMS.PT_QNA_M
		WHERE 1 = 1
			AND QNA_SN = CAST(#{qnaSn} AS NUMERIC)
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateInqCnt" parameterType="map">
		UPDATE SZMS.PT_QNA_M
		SET INQ_CNT = INQ_CNT + 1
		WHERE 1 = 1
			AND QNA_SN = CAST(#{qnaSn} AS NUMERIC)
	</update>
	
	<!-- 답변등록 -->
	<select id="qnaAnsCnInsert" parameterType="map" resultType="egovMap">
		UPDATE SZMS.PT_QNA_M
		SET ANS_CN = #{ansCn}
			, QNA_PRGRS_STTS_CD = 'ANS_CMPLT'
			, ANS_FILE_GROUP_SN = CAST(#{ansFileGroupSn} AS NUMERIC)
			, LAST_MDFCN_DT = CURRENT_TIMESTAMP
			, LAST_MDFR_ID = #{lastMdfrId}
		WHERE QNA_SN = #{qnaSn}
		RETURNING ANS_CN
			, ANS_FILE_GROUP_SN
			, TO_CHAR(LAST_MDFCN_DT, 'YYYY-MM-DD') AS LAST_MDFCN_DT
			, LAST_MDFR_ID
	</select>
	
	<!-- 질의 글 삭제 -->
	<update id="deleteQstn" parameterType="map">
		update szms.pt_qna_m
		set del_yn = 'Y'
			, LAST_MDFCN_DT = CURRENT_TIMESTAMP
			, LAST_MDFR_ID = #{lastMdfrId}
		WHERE QNA_SN = #{qnaSn}			
	</update>
</mapper>