@charset "UTF-8";

/* ----------------------------------

Name: guide.css
Categorie : 가이드
Author : 이상혁
Version : v.1.0
Created : 2024-09-09
Last update : 2024-09-09

-------------------------------------

/* ===================================
	레이아웃 시작
====================================== */
.page-guide .portlet a {

}
.global-link-wrapper .btn,
.ground-info-left-treeview *,
.animation-inactive *,
.map-wrapper {
    transition-timing-function: inherit;
    transition-duration: 0s;
}
body, html {
    height: auto;
}
body, 
.navbar, 
.parallax, 
.page-footer, 
.page-content-wrapper,
.nav-header-container,
.menu-all-popup-wrapper 
.mfp-container {
    
}
.page-content-wrapper,
.navbar-global-wrapper,
.navbar-collapse-wrapper,
.page-footer .page-footer-inner {
    width: auto;
}
.page-footer {
    height: 76px;
    padding: 15px 30px;
    z-index: 1;
}
.page-footer .page-footer-inner {
	padding-top: 0px;
}
.page-content {
    padding: 0px 0px 0px 340px;
}
.page-content-inner {
    position: relative;
    padding: 30px;
}
.page-sidebar-wrapper {
    position: relative;
    width: 340px;
    margin-top: auto;
    padding-bottom: 0px;
    background-color: #fff;
    box-shadow: 4px 0px 10px rgba(0,0,0,0.2);
    z-index: 2;
}
.page-sidebar {
    overflow-y: auto;
    padding: 12px;
}

/* 가이드 특화 레이아웃 시작 */
.page-guide .page-content-wrapper {
	padding-top: 40px;
	background-color: #f9f9f9;
}
.page-guide .page-header.navbar { 
	background: #000;
	height: 40px;
	min-height: 40px;
}
.page-guide .page-header.navbar .page-logo { 
	height: 40px;
	line-height: 40px;
}
.page-guide ul.guideUL {
	padding-left: 15px;
	padding-bottom: 20px;
}
.page-guide ul.guideUL li, 
.page-guide ol.guideOL {
	list-style-type: disc;
	display: list-item;
}
.page-guide hr.page-title-hr {
	border-top: 1px solid #b8bfc6;
	margin: 0px 0px 20px 0px;
}
.page-guide .portlet-body .contents-row .portlet-body-title { 
	margin: 40px 0px 30px 0px;
	font-weight: bold;
}
.page-guide .portlet-body .contents-row:first-child .portlet-body-title {
	margin-top: 10px;
}
.page-guide .portlet {
	border: 1px solid #dee0e2;
	padding: 20px;
    background-color: #fff;
	margin-top: 25px;
}
.page-guide .portlet:first-child {
	margin-top: 0px;
}
.page-guide hr.portlet-body-title-hr {
	border-top: 1px dashed #adadad;
}
.page-guide .portlet-body .contents-row.portlet-body-hr {
	border-top: 1px solid #dee0e2;
	padding-bottom: 20px;
}
.page-guide .portlet-body .contents-row.portlet-body-hr:first-child {
	border-top: 0px solid #dee0e2;
}
.page-guide .portlet-body .contents-row.portlet-body-hr:last-child {
	padding-bottom: 0px;
}
.page-guide .page-header.navbar {
	background: #2663af;
	margin: 0px;
}
.page-guide .page-header.navbar .page-logo {
	margin: 0px 40px 0 15px;
}
.page-guide .logo-default { 
	font-size:18px;
	color:#fff;
	font-weight:bold;
}
.page-guide .page-content > .page-title {
	padding:25px 45px;
	background-position:30px 50%;
}
/* 가이드 특화 레이아웃 끝 */

/* 왼쪽메뉴 시작 */
.page-sidebar {
	background:#fff;
}
.page-sidebar .page-sidebar-menu > li{
	border-top: 1px solid #e0e0e0;
}
.page-sidebar .page-sidebar-menu > li.heading {
	border-top: 0px;
    background-color: #fff;
    padding: 10px 15px;
}
.page-sidebar .page-sidebar-menu > li.heading > h3 {
	font-size: 18px; 
	color: #333; 
	font-weight: bold;
}
.page-sidebar .page-sidebar-menu > li > a {
	color: #424242; 
	border-top: 0; 
	font-weight: bold;
}
.page-sidebar .page-sidebar-menu > li.active > a { 
	color:#424242;
}
.page-sidebar .page-sidebar-menu > li.active > a, 
.page-sidebar .page-sidebar-menu > li.active.open > a {
	color: #ffffff;
    background: #2663af;
}
.page-sidebar .page-sidebar-menu .sub-menu {
	border-top: 1px solid #e0e0e0;
	background: #f6f6f6;
}
.page-sidebar .page-sidebar-menu .sub-menu li {
	margin-top: 0;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a, 
.page-sidebar .page-sidebar-menu .sub-menu > li.active.open > a {
	color: #424242;
    background: #c8dae4;
}
.page-sidebar .page-sidebar-menu > li.active, 
.page-sidebar .page-sidebar-menu > li.active.open {
	padding: 0px;
}
.page-sidebar .page-sidebar-menu > li.active > a {
	padding: 10px 15px 10px 40px;
}
.page-sidebar .page-sidebar-menu > li.active > a::after {
	left: 20px;
}
.page-sidebar .page-sidebar-menu li.active > a > .arrow:before  {
	right: 22px;
}
.page-sidebar .page-sidebar-menu {
	background-color: #fff;
}
.page-sidebar .page-sidebar-menu > li:last-child {
	border-bottom: 0px;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a::after, 
.page-sidebar .page-sidebar-menu .sub-menu > li.active.open > a::after {
	background-color: #009ee5;
}
/* 왼쪽메뉴 끝 */

/* ===================================
	레이아웃 끝
====================================== */

.content-wrapper {
    background-color: #fff;
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

.bd-example-row .contents-row.col, .bd-example-row .contents-row>[class^=col-] {
	padding-top:.75rem;
	padding-bottom:.75rem;
	padding-left:15px;
	padding-right:15px;
	background-color:rgba(86,61,124,.15);
	border:1px solid rgba(86,61,124,.2);
}

.bd-example-row .row.col, .bd-example-row .row>[class^=col-] {
	padding-top:.75rem;
	padding-bottom:.75rem;
	padding-left:15px;
	padding-right:15px;
	background-color:rgba(86,61,124,.15);
	border:1px solid rgba(86,61,124,.2);
}


