@charset "utf-8";

/* ----------------------------------

Name: common-ie.css
Categorie : 익스플로어를 위한 재정의
Author : 이상혁
Version : v.1.0
Created : 2024-09-09
Last update : 2024-09-09

-------------------------------------

Table of contents

    01. ie 버전별

*/

/* ===================================
    IE6
====================================== */


/* ===================================
    IE6 & IE7
====================================== */


/* ===================================
    IE7
====================================== */


/* ===================================
    IE8 and IE9
====================================== */


/* ===================================
    IE9
====================================== */


/* ===================================
    IE10 and IE11
====================================== */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}

/* ===================================
    Microsoft Edge Browser 12+ (All)
====================================== */
@supports (-ms-ime-align:auto) {

}
